<div class="container">
  <div class="row mt-5">
    <div [class]="movie ? 'col-8' : 'col-12'">
      <div class="row">

        <div class="col-6">
          <input [(ngModel)]="titleMovie" type="text" class="form-control" placeholder="Enter movie title">
        </div>

        <div class="col-2">
          <button
            [disabled]="!titleMovie"
            (click)="getFilms()"
            type="button" class="btn btn-success">Find
          </button>
        </div>

      </div>
      <div *ngIf="!loadingMovies; else loading">
        <div *ngIf="movies && movies.length">
          <div class="row mt-5">
            <app-paginator
              [page]="page"
              [pages]="pages"
              (changePage)="goToPage($event)"
            >
            </app-paginator>
          </div>
          <div class="row">
            <table class="table">
              <tr>
                <th>Film title</th>
                <th>Year</th>
                <th>Poster</th>
              </tr>
              <tr *ngFor="let i of movies"
                  (click)="openFilm(i.imdbID)"
                  [ngClass]="{'selected-movie': movie && (movie.imdbID === i.imdbID), 'movie': true}">
                <td><img src="{{i.Poster}}" alt="{{i.Title}}" height="180"></td>
                <td>{{i.Title}}</td>
                <td>{{i.Year}}</td>
              </tr>
            </table>
          </div>
          <div class="row">
            <app-paginator
              [page]="page"
              [pages]="pages"
              (changePage)="goToPage($event)"
            >
            </app-paginator>
          </div>
        </div>
        <div *ngIf="error">
          <h3>{{ error }}</h3>
        </div>
      </div>
    </div>
    <div *ngIf="!loadingMovie; else loading" class="col-4">
      <app-movie-card
        *ngIf="movie"
        [movie]="movie"
      >
      </app-movie-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
